<?xml version="1.0" encoding="utf-8"?><!--
  French Revolutionary Calendar Android Wear Complications
  Copyright (C) 2017 Carmen Alvarez

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation; either version 3
  of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.rmen.android.frc.complications">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name="ca.rmen.android.frc.complications.WeekdayComplication"
            android:icon="@drawable/ic_flower"
            android:label="@string/complication_weekday"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="21600" />
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_CONFIG_ACTION"
                android:value="ca.rmen.android.complications.settings" />

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
        </service>
        <service
            android:name="ca.rmen.android.frc.complications.DateComplication"
            android:icon="@drawable/ic_flower"
            android:label="@string/complication_date"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="21600" />
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_CONFIG_ACTION"
                android:value="ca.rmen.android.complications.settings" />

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
        </service>
        <service
            android:name="ca.rmen.android.frc.complications.TimeComplication"
            android:icon="@drawable/ic_flower"
            android:label="@string/complication_time"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="87" />
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
        </service>
        <service
            android:name="ca.rmen.android.frc.complications.ObjectOfTheDayComplication"
            android:icon="@drawable/ic_flower"
            android:label="@string/complication_object_of_the_day"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="21600" />
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_CONFIG_ACTION"
                android:value="ca.rmen.android.complications.settings" />

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
        </service>

        <activity android:name="ca.rmen.android.frc.complications.SettingsActivity">
            <intent-filter>
                <action android:name="ca.rmen.android.complications.settings" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.support.wearable.complications.category.PROVIDER_CONFIG" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.rmen.android.frc.complications.AboutActivity"
            android:label="@string/about">
            <!-- Declare the intent filter to open this activity from the settings screen -->
            <intent-filter>
                <action android:name="ca.rmen.android.frc.complications.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>